<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand navbar-toggle"  (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed"><span class="navbar-toggler-icon"></span></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item logo active">
        <a class="nav-link" routerLink="/main"><img src="https://pngimg.com/uploads/amazon/amazon_PNG9.png" class="logoImg" alt=""> <span class="sr-only">(current)</span></a>
      </li>


      <form action="/action_page.php" class="form-inline my-2 my-lg-0 searchForm">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary dropdown-toggle borderNone blaclClr" ngbDropdownToggle>All</a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>One</button>
            <button ngbDropdownItem>Two</button>
            <button ngbDropdownItem>Four!</button>
          </div>
        </div>
        <input class="borderNone searchInput" type="text" placeholder="Search.." name="search">
        <button class="borderNone bgGold" type="submit"><i class="fa fa-search"></i></button>
      </form>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EN
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Action</a>
          <a class="dropdown-item" routerLink="">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="">Something else here</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Action</a>
          <a class="dropdown-item" routerLink="">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="">Something else here</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Orders
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Action</a>
          <a class="dropdown-item" routerLink="">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="">Something else here</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prime
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="">Action</a>
          <a class="dropdown-item" routerLink="">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="">Something else here</a>
        </div>
      </li>


      <li class="nav-item logo">
        <a class="nav-link" routerLink="/cart"><img class="cart" src="https://pngimage.net/wp-content/uploads/2018/06/orange-shopping-cart-icon-png-5.png" alt=""></a>
      </li>
      
    </ul>
    
  </div>
</nav>

<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      You can collapse this card by clicking Toggle
    </div>
  </div>
</div>