.logo{
    width: 12%;
}
.logoImg{
    width: 100%;
}
.btn{
    padding: 0.2rem .75rem;
    background-color: #f3f3f3;
}
.borderNone{
    border: none;
}
.fa{
    font-size: 24px;
}
input[type=text]{
    padding: 3px;
}
.bgGold{
    background-color: #febd69;
}
.blaclClr{
    color: #333333;
}
.cart{
    width: 20%;
}
.searchForm{
    width: 100%;
}
.searchInput{
    width:85%;
}
