<div class="jumbotron">

    <div class="container">
        <div class="row">
            <div class="col-md-12 mrgn card">
                <div class="row">

                    <div class="col-md-4">  
                        <a href="#">
                            <img src="https://m.media-amazon.com/images/I/612BZb3xpGL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                        </a>
                    </div>

                    <div class="col-md-8">
                        <a href="#">
                            <h4>Product Name</h4>
                        </a>
                        <p><b>&#8377; 500</b></p>
                            <div class="cartBtn">
                                <button class="minus"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    <span>12</span>
                                <button class="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        <br>
                    
                    </div>  
                                  
                </div>
            </div> 
           <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success float-right">
                        Proceed To Checkout 
                     </button>  
                </div>   
           </div> 
        </div>
    </div>

</div>