<div class="jumbotron">
    <div class="row" *ngIf="categoryList">

       <div class="col-sm-3 pdingBtm" *ngFor="let category of categoryList">

        <div class="card">
            <h4>{{category.category}}</h4>
            <div class="row">
                <div class="col-sm">
                    
                    <div class="productCategory">
                        <img src="{{ category.categoryImage }}" alt="">
                        <a href="/shoppingList/{{category.category}}/{{category.subCategory}}"><h6>{{category.subCategory}}</h6></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="productCategory">
                        <img src="{{ category.categoryImage }}" alt="">
                        <a href="/shoppingList/{{category.category}}/{{category.subCategory}}"><h6>{{category.subCategory}}</h6></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="productCategory">
                        <img src="{{ category.categoryImage }}" alt="">
                        <a href="/shoppingList/{{category.category}}/{{category.subCategory}}"><h6>{{category.subCategory}}</h6></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="productCategory">
                        <img src="{{ category.categoryImage }}" alt="">
                        <a href="/shoppingList/{{category.category}}/{{category.subCategory}}"><h6>{{category.subCategory}}</h6></a>
                    </div>
                </div>
            
          </div>
      </div>
       </div>


    </div>
</div>