<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mrgn card">
                <div class="row">
                    <div class="col-md-4"> 
                        <a href="#">
                          <img src="https://m.media-amazon.com/images/I/612BZb3xpGL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                        </a> 
                    </div>
                    <div class="col-md-8">
                        <a href="#">
                            <h4>Product Name</h4>
                        </a>
                        <p><b> &#8377; 500</b></p>
                        <p>Category</p>
                        <p>Discription</p>
                    </div>
                
                </div>
            </div>

            <div class="col-md-12 mrgn card">
                <div class="row">
                    <div class="col-md-4">  
                        <a href="#">
                            <img src="https://m.media-amazon.com/images/I/612BZb3xpGL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="#">
                            <h4>Product Name</h4>
                        </a>
                        <p><b> &#8377; 500</b></p>
                        <p>Category</p>
                        <p>Discription</p>
                    </div>
                
                </div>
            </div>


            <div class="col-md-12 mrgn card">
                <div class="row">
                    <div class="col-md-4">  
                        <a href="#">
                            <img src="https://m.media-amazon.com/images/I/612BZb3xpGL._AC_UY327_FMwebp_QL65_.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="#">
                            <h4>Product Name</h4>
                        </a>
                        <p><b> &#8377; 500</b></p>
                        <p>Category</p>
                        <p>Discription</p>
                    </div>
                
                </div>
            </div>
        </div>
    </div>


</div>